body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://source.unsplash.com/category/nature/weekly);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.todoList {
  width: 40%;
  height: 500px;
  float: left;
  border: 1px solid blue;
  text-align: center;
  margin-top: 30px;
  margin-right: 20px;
}

.doneList {
  width: 40%;
  height: 500px;
  float: left;
  border: 1px solid red;
  text-align: center;
  margin-top: 30px;
}

.alertMessage {
  color: red;
}

.todo {
  margin: 0 5px 0 5px;
  border: 1px solid #333;
  background-color: rgba(252, 251, 245, 0.1);
}

.todo:hover {
  cursor: pointer;
  background-color: rgba(254, 254, 240, 0.3);
}

.done {
  margin: 0 5px 0 5px;
  border: 1px solid #333;
  background-color: rgba(252, 251, 245, 0.1);
}

.done:hover {
  cursor: pointer;
  background-color: rgba(254, 254, 240, 0.3);
}
